@import 'fab_buttons';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #1b1b1b;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 30px;
}

img {
    max-width: 100%;
}

.pull-right {
    float: right;
    position: relative;
    &:after,
    &:before {
        content: '';
        display: table-cell;
        clear: both;
    }
}

.container {
    width: 1155px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.widget-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weather-widget {
    width: 355px;
    min-width: 355px;
    height: 180px;
    padding: 30px;
    margin: 15px;
    background: #f5be25;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    letter-spacing: 0.5px;
    .widget-body {
        display: flex;
        justify-content: center;
        align-items: center;
        .left {
            flex: 1;
            p {
                margin-bottom: 2px;
            }
        }
        .right {
            display: flex;
            justify-content: center;
            flex: 1;
        }
    }
    .city-name {
        font-size: 19px;
    }
    .country-name {
        font-size: 15px;
        font-weight: 300;
    }
    .temp-container {
        margin-top: 10px;
    }
    .temp {
        font-size: 41px;
        font-weight: 300;
    }
    .widget-footer {
        background: orange;
        position: absolute;
        border: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 35px;
        padding: 0 35px;
        line-height: 35px;
    }
}