@import 'fab_buttons';
@import '../fonts/icomoon/style'; // import IcoMoon fonts

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-font/FONT/font-face/meteocons-webfont.eot');
    src: url('../fonts/meteocons-font/FONT/font-face/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-font/FONT/font-face/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-font/FONT/font-face/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-font/FONT/font-face/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
	font-size: 30px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #1b1b1b;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 10px;
}

img {
    max-width: 100%;
}

.pull-right {
    float: right;
    position: relative;
    &:after,
    &:before {
        content: '';
        display: table-cell;
        clear: both;
    }
}

.navbar {
    height: 52px;
    background: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newCityForm{
	display: flex;
	position: relative;
	.search-input {
	    width: 100%;
	    height: 40px;
	    font-size: 18px;
	    padding: 0px 10px 0px 35px;
	    &.city-name{
	    	flex:4;
	    }
	    &.country-name{
	    	flex:1;
	    }
	}
	.icon-search{
		position: absolute;
		left: 10px;
		color: #c7c7c7;
		font-size: 18px;
		top: 10px;
	}
}

.widget-container {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.widget-title-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.weather-widget {
	font-size: 18px;	
    width: 565px;
    height: 261px;
    margin: 10px;
    background: #c1c1c1;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    letter-spacing: 0.5px;
    box-shadow: 0 3px 8px 0px black;
    background-position: center center;
    background-size: 100%;
    position: relative;
    .widget-bg {
    	content: '';
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	background-size: cover;
    	background-position: center center;
    	background-repeat: no-repeat;
    	background-color: inherit;
    	opacity: 0.7;
    }
    .top-btns {
    	position: absolute;
    	right: 10px;
    	top:10px;
    	display: flex;
    	justify-content: flex-end;
    	flex-direction: row-reverse;
    	a {
	    	cursor: pointer;
	    	margin-left: 10px;
	    	font-size: 15px;
	    	opacity: 0.6;
	    	transition: 0.2s;
	    	&:last-child{
	    		margin-left: 0;
	    	}
	    	&:hover {
		    	opacity: 0.9;	    		
	    	}
    	}
    }
    .widget-body {
	    padding: 35px;
	    position: relative;
        display: flex;
        justify-content: space-between;
        .left {
            p {
                margin-bottom: 2px;
            }
        }
        .right {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
        }
        .today-condition {
        	margin-right: 8px;
        	.icon:before {
        		font-size: 55px;
        	}
        }
    }
    .city-name {
        // font-size: 24px;
        // font-weight: 600;
        font-size: 35px;
        margin-bottom: 0;
    }
    .country-name {
        font-size: 17px;
        font-weight: 400;
    }
    .temp {
        font-weight: 400;
        font-size: 19px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &.day-temp{
	        font-size: 50px;
        }
    }
    .min-max-temp {
        font-size: 17px;
        &>span {
			display: inline-block;
        }
    }
    .weather-pressure .icon:before{
		font-size: 15px;
		margin-right: 5px;
    }
    .weather-wind .icon:before{
		font-size: 22px;
    }
    .forecast-list {
        height: 80px;
        background-color: transparent;
        position: absolute;
        border: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 0 35px;
        line-height: 35px;
        display: flex;
        justify-content: space-between;
        .widget-bg{
        	opacity: 0.5;
        }
        .forecast-day {
        	font-size: 14px;
        	display: flex;
        	flex-direction: column;
        	justify-content: center;
        	align-items: center;
        	position: relative;
        	img{
        		max-width: 15px;
        	}
        }
        .forecast-icon{
        	margin-bottom: -17px;
        	margin-top: -8px;
        }
    }
}

// styles for three-rows setting

.three-rows {
	.weather-widget {
		width: 370px;
		height: 245px;
		p{
			font-size: 16px;
		}
		.city-name {
		    font-size: 28px;
		}
		.temp {
			font-size: 17px;
		}
		.temp.day-temp {
		    font-size: 34px;
		}
		.widget-body .today-condition .icon:before {
		    font-size: 37px;
		}
	}
}

// =======================================
// BOOTSTRAP CONTAINER AND CONTAINER @ media

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width: 768px) {
    .container {
        width: 750px
    }
    .widget-container {
    	justify-content: center;
    }
}
@media (min-width: 992px) {
    .container {
        width: 770px
    }
    .widget-container {
    	justify-content: flex-start;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.row {
    margin-right: -15px;
    margin-left: -15px
}

// =======================================