.switch-toggle-container {
	width: 45px;
	height: 23px;
}

label.switch-toggle {
    width: 45px;
    position: relative;
    display: block;
    cursor: pointer;
    input[type="checkbox"] {
        display: none;
        &:checked+span {
            background: lightcoral;
            &:after {
                transform: translateX(22px);
            }
        }
    }
    span {
        height: 23px;
        border-radius: 15px;
        width: 100%;
        position: absolute;
        background: grey;
        left: 0;
        bottom: 0;
        top: 0;
        transition: 0.3s;
        &:after {
            content: '';
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 2px;
            border: 0;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: #ededed;
            box-shadow: 0px 0 4px 1px rgba(0, 0, 0, 0.5);
            transition: 0.6s;
        }
    }
}